* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background-color: blue; */
}
.main-container {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column; 
}
.square {
  margin:10px;
  width:50px;
  height:50px;
  /* background-color:green; */
}
.square:nth-of-type(odd) {
  transition: all 3s ease;
}
.square:nth-of-type(even) {
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1)
}


.square-1 {
  background-color:grey;
}
.square-2 {
  background-color:pink;
}
.square-3 {
  background-color:red;
}
.square-4 {
  background-color:purple;
}
.square-5 {
  background-color:fuchsia;
}
.square-6 {
  background-color:firebrick;
}
.square-7 {
  background-color:lightcoral;
}
.square-8 {
  background-color:olive;
}
.square-9 {
  background-color:greenyellow;
}
.square-10 {
  background-color:orange;
}
.square-11 {
  background-color: royalblue;
}
.square-12 {
  background-color:indigo;
}


.main-container:hover .square:nth-of-type(odd) {
  transform: scale(2) translateX(200px) rotate(360deg); 
}
.main-container:hover .square:nth-of-type(even) {
  transform: scale(.5) translateX(-200px) rotate(-360deg);
}