body{
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  width:100%;
  background-image: url(./Images/mikesh-kaos-dUV3oohJzE8-unsplash.jpg);
  background-size:cover;
  padding-bottom:100px;
  border-top: 4px solid rgba(55, 78, 78, 0.808);
}

.hamburger {
  /* border: 1px solid greenyellow; */
  display:none;
}
@media (max-width:968px) {
  .hamburger {
  display:inline-block;
  width:15%;
  font-size:34px;
  padding:20px;
  color:rgba(255, 255, 255, 0.8);
  }
}
.logo {
  font-size:30px;
  /* border:1px solid red; */
  width: 50%;
  float:right;
  margin:20px 0px 20px 20px;
  color:rgba(255, 255, 255, 0.8);
}
.logo span {
  float:right;
  margin-right:10px;
}
 @media (min-width:960px) {
   .logo span {
     float:none;
   }
 }
@media (min-width:960px) {
  .logo {
    float:left;
    margin: 0;
    padding: 10px;
  }
}

nav {
  display:none;
}

@media (min-width:968px) {
  nav {
    display:flex;
    float:right;
    /* border:1px solid orange; */
    text-transform:lowercase;
    margin-top:5px;
  }
}
nav p {
  margin:10px;
  font-size:24px;

  color:rgba(255, 255, 255, 0.8);
}

.Grids {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width:100%;
  height:130%;
  background-image: url(./Images/mikesh-kaos-dUV3oohJzE8-unsplash.jpg);
  padding:20px;
  gap:30px;
}
@media (max-width:850px) {
  .Grids {
    display:flex;
    flex-direction:column;
    height:auto;
    flex-wrap:wrap;
  }
}
.workDisplay {
  width:100%;
  /* padding:30px; */
  margin-top:50px;
  height:100%;
  margin-top:70px;
}
@media (max-width:850px) {
  .workDisplay {
    height:300px;
  }
}

.number1 {
  grid-column: 1;
  grid-row:1;
  background-color:black;
}
.number2 {
  background-color:white;
  grid-column:1;
  grid-row:2;
}

.number3 {
  background-color:white;
  grid-column:3;
  grid-row:1;
}
.number4 {
  grid-column:2;
  grid-row:1;
  border:none;
  overflow:hidden;
}

.number5 {
  background-color:white;
  grid-column:2;
  grid-row:2;
}
.number6 {
  grid-column:3;
  grid-row:2;
  background-color:white;
}
#Responsive-dashboard {
  overflow:hidden;
}
@media (max-width:850px){
  .number6 {
    margin-bottom:20px;
  }
}
.forms-forever {
  width:100%;
  background-color:rgb(145, 141, 141, .2);
  padding:25px 15px;
}
#Contact {
  font-size:24px;
  padding-bottom:15px;
}
label {
  /* border: 1px solid blue; */
  display:block;
  padding:10px 0px;
  padding-left:10px;
  padding-right:10px;
}
label .button {
  /* border: 1px solid green; */
  border-radius: 8px;
  padding: 6px 12px;
  margin: 0px 10px;
  font-size:18px;
}
#button-style {
  background-color: rgba(23, 120, 211, 0.897);
  color:white;
  font-weight:600;
}
#dont-click {
  color: rgb(145, 141, 141, 1)
}
input, textarea {
  background-color:rgb(145, 141, 141, .2);
}
label select {
  background-color:rgb(145, 141, 141, .2)
}