.logo {
  border: 2px solid black;
  width: 100px;
  height: 120px;
}

a {
  text-decoration:none;
}
.header{
  display: flexbox;
}
.box {
  /*border: 3px solid black; */
  font-family: "Open Sans";
  font-size: 18px;
  padding: 6px; 
}
.title {
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 18px;
  color:black !important;
  padding: 4px 0px 0px 0px;
}

.posts {
  border-bottom: 1px solid grey;
  border-top:1px solid grey;
  display: inline-block;
}
#first-title {
  color:red;
}
.date {
  padding:3px 0px 3px 0px;
  font-family: 'American Typewriter' !important;
  font-size: 17px;
  font-weight: lighter;
}
.description {
  font-size: 16px;
  font-family: 'open sans';
  padding: 0px 0px 4px 0px;
}