* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
}
td {
  border:2px solid #333;
  height:100px;
  width:100px;
  text-align:center;
  vertical-align:middle;
  font-size:70px;
  font-family:"open sans";
  cursor:pointer;
}
table {
  border-collapse:collapse;
  position:absolute;
  left:50%;
  margin-left:-155px;
  top:50px;
}
table tr:first-child td{
  border-top:0;
}
table tr:nth-child(3) td {
  border-bottom:0;
}
td:nth-of-type(1) {
  border-left:0;
}
td:nth-of-type(3) {
  border-right:0;
}

/* .endgame {
  display:none;
  width:200px;
  top:120px;
  background-color: rgba(205,133,63,0.8);
  position:absolute;
  left:50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom:50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
} */
.button-holder {
  position:absolute;
  bottom:30%;
  left:42%;
}





/* .game-grid {
  width:500px;
  height:500px;
  border: 1px solid red;
  flex-wrap: wrap;


}
.game-grid div {
  border: 1px solid blue;
  width:32%;
  height:33%;
  display:inline-block;
  vertical-align:top;
  line-height:110px;
  text-align:center;
} */