*{
  /* background-color: palegoldenrod; */
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
}
.grid-container {
  height:100%;
  width:100%;
  display:grid;
  grid-template-columns: repeat(6, 1fr) 2fr 1fr;
  grid-template-rows: repeat(8,1fr);
}

.box {
  height: 100%;
  width: 100%;
}
.red-box {
  background-color:rgb(240, 229, 234);
  grid-row: 1/2;
  grid-column: 2/8;
}
.blue-box {
  background-color:rgb(240, 229, 234);
  grid-column:8/9;
  grid-row:1/2;
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow-box {
  /* background-color:rgb(240, 229, 234); */
  grid-column: 8/9;
  grid-row: 2/3;
  color:goldenrod;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pink-box {
  background-color:pink;
  grid-column:1/7;
  grid-row: 4/5;
}
 .fuchsia-box {
  /* background-color:fuchsia; */
  grid-column:7/8;
  grid-row:5/7;
  display: flex;
  justify-content: center;
  align-items: center;
  color:goldenrod;
  font-size:20px;
  /* border-radius:50%; */
}
#button1 {
  display: inline-block;
  border-radius: 30px;
  background-color:goldenrod;
  color:white;
  font-size: 10px;
  padding: 4px 10px;
  border:none;
  margin: 0px 5% 0px 0px;
}
.green-box {
  /* background-color:green; */
  grid-column:8/9;
  grid-row:7/9;
  display: flex;
  justify-content: center;
  align-items: center;
  color:goldenrod;
  font-size:20px;
}
.dummy {
  width: 7%;
  height:100%;
}
.palegreen-box {
  grid-column: 1/7;
  grid-row:3/9;
  /* background-color:palegreen; */
}

img {
  width: 100%;
  height:100%;
}

.rebeccapurple-box {
  /* background-color:rebeccapurple; */
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 14px;
  transform: rotate(-90deg);
  color:white;
}
.lavendar-box {
  background-color: rgb(240, 229, 234);
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.olive-box {
  /* background-color:olive; */
  grid-column: 3/4;
  grid-row: 2/3;
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}
.peru-box {
  /* background-color:peru; */
  grid-column: 1/2;
  grid-row:2/3;
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
  
}
.cadetblue-box {
  /* background-color:cadetblue; */
  grid-column: 2/3;
  grid-row: 2/3;
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}
.mediumaquamarine-box {
  /* background-color:mediumaquamarine; */
  grid-column: 4/5;
  grid-row: 2/3;
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}
.mintcream-box {
  /* background-color:mintcream; */
  grid-column: 5/6;
  grid-row: 2/3;
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}
.chartreuse-box {
  /* background-color:chartreuse; */
  grid-column: 6/7;
  grid-row: 2/3;
  background-color: rgb(208,181,194);
  color:goldenrod;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
} 
.magenta-box {
  /* background-color:magenta; */
  grid-column:1/2;
  grid-row:8/9;
  color:white;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
.powderblue-box {
  /* background-color:powderblue; */
  grid-column: 7/9;
  grid-row: 3/4;
  font-size: 14px;
  display: block;
  line-height:16px;
  padding: 0px 20% 0px 100px;
  /* border: 1px solid black; */
}
.orange-box {
  /* background-color: orange; */
  grid-column: 7/9;
  grid-row:4/5;
  font-size:10px;
  display: block;
  line-height:16px;
  padding: 0px 20% 0px 100px;
  /* border: 1px solid black; */
}
.grey-box {
  /* background-color:grey; */
  grid-column: 6/7;
  grid-row:6/7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:24px;
  /* border:1px solid black; */
  padding: 20% 0px 0px 0px;
}
.black-box  {
  grid-column: 6/7;
  grid-row:7/8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:24px;
  /* border:1px solid black; */
  padding: 0px 0px 20% 0px;
}