#blue-space {
  width:100%;
  background-color:paleturquoise;
  height:22px;
}
#img-div {
  display:inline-block;
  /* border:1px solid black; */
  padding:10px 0px 0px 10px;
}
@media (max-width:767px) {
    #img-div {display:block;
      width:auto;
      margin-left:auto;
      margin-right:auto;
      margin:0 auto;
      text-align:center;
    }
  }
@media (max-width:480px) {
    #img-div {display:block;
      width:100%;
      margin-left:auto;
      margin-right:auto;
      margin:0 auto;
      text-align:center;
    }
}
.header-text {
  float:right;
  /* border:1px solid red; */
  width:76%;
  margin: 30px 0px 0px 0px;
}  
@media (max-width:767px) {
  .header-text {float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin:0 auto;
  }
}
@media (max-width:480px) {
  .header-text {float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin:0 auto;
  }
}
h1 {
  text-align:center;
  font-family:"Calisto MT";
  Font-weight: bold;
  color:paleturquoise;
  font-size:34px;
}
#line {
  border-top:2.5px solid black;
}
.contact {
  display:inline-block;
  width:45%;
  /* border:1px solid green; */
  margin: 0px 0px 0px 10px;
  font-family:"Calisto MT";
  Font-weight: lighter;
  color:rgb(0, 0, 0);
  font-size:16px;
}
@media (max-width:767px) {
  .contact {width:100%;
    text-align:center;
  }
}
@media (max-width:480px) {
  .contact {width:100%;
    text-align:center;
  }
}
#phone {
  padding:15px 0px 0px 0px;
}
@media (max-width:767px) {
  #phone {
    padding: 5px 0px 0px 0px;
  }
}
@media (max-width:480px) {
  #phone {
    padding: 5px 0px 0px 0px;
  }
}

#email {
  /* border:1px solid purple; */
  float:right;  
  padding: 0px 20% 0px 0px;
  font-family:"Calisto MT";
  Font-weight: lighter;
  color:rgb(0, 0, 0);
  font-size:16px;
}
@media (max-width:767px) {
  #email {width:100%;
    float:none;
    text-align:center;
    padding:5px 0px 0px 0px;

  }
}
@media (max-width:480px) {
  #email {width:100%;
    float:none;
    text-align:center;
    padding:5px 0px 0px 0px;
  }
}
#left-side {
  display:inline-block;
  width:48%;
  height:100%;
  font-family:"Calisto MT";
  /* Font-weight: lighter; */
  border:1px solid black;
  padding: 0px 0px 0px 10px;
}
@media (max-width:767px) {
  #left-side {
    width:95%;
    height:auto;
    padding:0px 0px 0px 0px;
    margin:0px 5px 0px 5px;
  }
}
@media (max-width:480px) {
  #left-side {
    width:95%;
    height:auto;
    padding:0px 0px 0px 0px;
    margin:0px 5px 0px 5px;
  }
}

#right-side {
  display:inline-block;
  width:50%;
  float:right;
  font-family:"Calisto MT";
  /* Font-weight: lighter; */
  border:1px solid black;
  padding: 33px 0px 0px 5px;
}
@media (max-width:767px) {
  #right-side {
    float:none;
    width:95%;
    height:auto;
    padding:0px 0px 0px 0px;
    margin:0px 5px 0px 5px;
  }
}
@media (max-width:480px) {
  #right-side {
    display:inline-block;
    width:95%;
    height:auto;
    padding:0px 0px 0px 0px;
    margin:0px 5px 0px 0px;
  }
}
section h2 {
  font-weight:bold;
  font-size:25px;
  color:paleturquoise;
}
section h3 {
  font-size:17px;
}
section p  {
  font-size:14px
}
#right-box {
  margin: 60px 0px 0px 0px;
}
.measure {
  width: 40%;
  /* border: 1px solid black; */
  display: inline-block;
  margin: 10px 0px 0px 0px;
}
.black-line {
  border-top:2.5px solid black;
  display: inline-block;
  width: 50%;
}
#line-1 {
  margin: 2px 0px 0px 0px;
  width: 45%;
}
#line-2 {
  margin: 2px 0px 0px 0px;
  width: 33%;
}
#line-3 {
  margin: 2px 0px 0px 0px;
  width: 27%;
}
#line-4 {
  margin: 2px 0px 0px 0px;
  width: 45%;
}