#blue-space {
  width:100%;
  background-color:paleturquoise;
  height:22px;
}
#img-div {
  display:inline-block;
  /* border:1px solid black; */
  padding:10px 0px 0px 10px;
}
.header-text {
  float:right;
  /* border:1px solid red; */
  width:76%;
  margin: 30px 0px 0px 0px;
}  
h1 {
  text-align:center;
  font-family:"Calisto MT";
  Font-weight: bold;
  color:paleturquoise;
  font-size:34px;
}
#line {
  border-top:2.5px solid black;
}
.contact {
  display:inline-block;
  width:45%;
  /* border:1px solid green; */
  margin: 0px 0px 0px 10px;
  font-family:"Calisto MT";
  Font-weight: lighter;
  color:rgb(0, 0, 0);
  font-size:16px;
}
#phone {
  padding:15px 0px 0px 0px;
}
#email {
  /* border:1px solid purple; */
  float:right;  
  padding: 0px 20% 0px 0px;
  font-family:"Calisto MT";
  Font-weight: lighter;
  color:rgb(0, 0, 0);
  font-size:16px;
}
#left-side {
  display:inline-block;
  width:48%;
  height:100%;
  font-family:"Calisto MT";
  /* Font-weight: lighter; */
  /* border:1px solid black; */
  padding: 0px 0px 0px 10px;
}
#right-side {
  display:inline-block;
  width:50%;
  float:right;
  font-family:"Calisto MT";
  /* Font-weight: lighter; */
  /* border:1px solid black; */
  padding: 33px 0px 0px 0px;
}
section h2 {
  font-weight:bold;
  font-size:25px;
  color:paleturquoise;
}
section h3 {
  font-size:17px;
}
section p  {
  font-size:14px
}
#right-box {
  margin: 60px 0px 0px 0px;
}
.measure {
  width: 40%;
  /* border: 1px solid black; */
  display: inline-block;
  margin: 10px 0px 0px 0px;
}
.black-line {
  border-top:2.5px solid black;
  display: inline-block;
  width: 50%;
}
#line-1 {
  margin: 2px 0px 0px 0px;
  width: 45%;
}
#line-2 {
  margin: 2px 0px 0px 0px;
  width: 33%;
}
#line-3 {
  margin: 2px 0px 0px 0px;
  width: 27%;
}
#line-4 {
  margin: 2px 0px 0px 0px;
  width: 45%;
}
  /*.maintcontainer {
     width:70%; 
    }*/
  /* h1 {
    z-index:100;
    position:absolute;
    right:29%;
    top:5%;
  }
  #line {
    width:65%;
    z-index:100;
    position:absolute;
    right: 6%;
    top: 20%;
    border-top:2px solid black;
  } */
  /* .contact {
    z-index:100;
    position:absolute;
    right:55.5%;
    top:23%;
  }
  #Mass {
    z-index: 100;
    position:absolute;
    right:48%;
    top:23%;
  }
  #Phone {
    z-index: 100;
    position:absolute;
    right:55.5%;
    top:28%;
  }
  #Email {
    z-index: 100;
    position:absolute;
    right:24%;
    top:28%;
  } */
