* {
  box-sizing:border-box;
  /* background-color:grey; */
}
.main-container {
  margin: 0;
  width:100%;
  /* border: 1px solid pink; */
  /* padding: 30px; */
}
.main-container .upper-section {
  margin: 10px auto;
  width:100%;
  /* border: 1px solid orange; */
  padding: 30px 30px 20px 30px;
}
.upper-section .image {
  width: 100%;
  /* border: 1px solid red; */
  /* padding:30px; */
  display:block;
}
img {
  width:100%;
}
@media (min-width:992px) {
  img {
    width: 66%;
  }
}
.Desktop-reveal {
  display:none;
}
.Desktop-reveal h3 {
  font-family: "Calibri";
  font-size: 20px;
  font-weight:bold;
}
.Desktop-line {
  margin: 10px 10px 15px 0px;
  /* align-content:left;
  width:90%; */
}
.Desktop-reveal h5 {
  font-family: "Calibri";
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  font-weight:bold;
}
@media (min-width:992px) {
  .Desktop-reveal {
    display:inline-block;
    float:right;
    width:29%;
    /* border: 1px solid black; */
  }
}
.upper-text h1 {
  /* border:1px solid green; */
  font-size: 34px;
  font-family: "Calibri";
  padding: 15px 0px;
}
@media (min-width:768px) {
  .upper-text h1 {
    margin: 25px 0px 5px 0px;
  }
}
@media (min-width:992px) {
  .upper-text h1 {
    font-size: 29px;
    margin: 5px 0px 0px 0px;
  }
}
.upper-text p {
  font-size: 16px;
  font-family: "Calibri";
  padding: 0px 0px 25px 0px;
  font-weight:bold;
}
@media (min-width:768px) {
  .upper-text p {
    font-size: 22px;
  }
}
@media (min-width:992px) {
  .upper-text p {
    font-size: 18px;
    padding: 0px 0px 15px 0px;
  }
}
@media (min-width:992px) {
  .upper-text {
    width: 66%;
  }
}
.upper-text button {
  font-size: 24px;
  font-family: "Calibri";
  color: white;
  background-color: rgb(93,93,93);
  padding: 5px 8px;
  text-transform: uppercase;
}
button:visited {
  opacity: 0.7%;
  color: rgb(184, 5, 5);
}
@media (min-width:992px) {
  .upper-text button {
    font-size: 15px;
  }
}
/* .lower-section {
  width: 100%;
  display:block;
} */
/* @media (min-width:768px) {
  .lower-section {
    display: none;
  }
} */
.lower-section {
  float: left;
  width: 50%;
  height: 325px;
  /* border: 1px solid fuchsia; */
  color: white;
  background-color: rgb(93,93,93);
  padding: 30px;
  margin: -10px 0px 0px 0px;
}
@media (min-width:768px) {
  .lower-section {
    display: none;
  }
}
.lower-heading {
  font-family: "Calibri";
  font-weight: bold;
  font-size: 24px;
  padding: 0px 0px 10px 0px;
}
.link-spacing {
  font-family: "Calibri";
  font-weight: lighter;
  font-size: 22px;
  padding: 8px 0px;
}
.fa {
  color: white;
  padding: 0px 0px 0px 15px;
  font-size: 22px;
  text-decoration:none;
}
.fa :hover {
  opacity: 0.7%;
  color: rgb(93,93,93);
}
.lower-section .line {
  border-top:1px dotted rgb(93,93,93);
  margin: 0px 60px 0px 0px;
}
.fa-facebook {
  padding: 0px 0px 0px 16px;
}
.fa-instagram {
  padding: 0px 0px 0px 11px;
}
.fa-twitter {
  padding: 0px 0px 0px 36px;
}