/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}






/* @import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Mansalva', cursive;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(160deg,#00f6ff,#62ebef,#85e0df,#9dd5cf,#b0cabf,#bfbeaf,#cbb3a0,#d5a791,#de9a82,#e58e73,#ec8064,#f17156,#f56147,#f94e39,#fc362a,#ff001b);
}
.todo-container {
  min-height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 26px;
  background: white;
  box-shadow: 9px 13px 12px 6px #0000001f;
}
.todo-container--header {
  text-align: center;
  flex: 1;
  border-radius: 26px 26px 0 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12156862745098039);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container--header h2 {
  text-transform: uppercase;
  color: #222;
}
.todo-container--body {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}
.todo-container--body .todo-add {
  justify-self: flex-end;
}
.todo-add input {
  height: 40px;
  width: 200px;
  font-size: 1.3em;
}
ul {
  display:block;
  width:100%
  
  
  /* flex-direction:row-reverse; */
  /* flex-direction:row; */
  /* justify-content:center;
  align-items:center; */
  
}
ul li {
  display:inline-block;
  width:75%;
  list-style:none;
  /* height:10px;
  width:10px; */
  font-size:28px;
  padding-left:20px;
}
input[type='checkbox'] {
  height:20px;
  width:20px;
} */